<div class="hangman-draw">
    <img class="head" *ngIf="wrongCount > 0" src="assets/images/head.png" />
    <img class="body-upper" *ngIf="wrongCount > 1" src="assets/images/bodyElement.png" />
    <img class="body-lower" *ngIf="wrongCount > 2" src="assets/images/bodyElement.png" />
    <img class="left-hand" *ngIf="wrongCount > 3" src="assets/images/bodyElement.png" />
    <img class="right-hand" *ngIf="wrongCount > 4" src="assets/images/bodyElement.png" />
    <img class="left-leg" *ngIf="wrongCount > 5" src="assets/images/bodyElement.png" />
    <img class="right-leg" *ngIf="wrongCount > 6" src="assets/images/bodyElement.png" />
</div>