<div class="hangman-container">

  <img src="assets/images/Board.png" alt="image">

  <hangman-word [wordLetters]="selectedWord.split('')" [selectedLetters]="selectedLetters"></hangman-word>
  <hangman-draw [wrongCount]="wrongCount"></hangman-draw>
  <hangman-letters [letterClick]="selectLetter.bind(this)" [selectedLetters]="selectedLetters"></hangman-letters>

  <hangman-end-game 
    *ngIf="successfullyFinished !== null"
    [selectedWord]="selectedWord" 
    [selectedLetters]="selectedLetters"
    [successfullyFinished]="successfullyFinished"
    [resetGame]="resetGame.bind(this)"
  ></hangman-end-game>

</div>